@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap');

* {
  font-family: 'Vazirmatn', sans-serif;
  align-items: center;
}

body {
  background-color: #202225;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 90px;
  transform: scale(0.7);
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Vazirmatn', sans-serif;
  transform: scale(1.2);
}

.title {
  color: #1CAA9E;
  margin-left: 12px;
}

.wa a {
    position: fixed;
    right: -260px;
    bottom: -280px;
    transform: scale(0.15);
}
